<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Novak.StudentMaintenance.Utilities.PL.Properties.Settings.DBConn"
            connectionString="Data Source=FooteSQLServer;Initial Catalog=DBNovak;User ID=CMLogin;Password=CMLogin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>